header > ul{
    display: flex;
    list-style-type: none;  
    color: white;
    font-size: 40px;
    font-weight: bold;
    flex-direction:column;
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
    height: 400px;
    position: fixed;   
    z-index: 10;
}
header > ul > li{
    background: rgba(0, 0, 0, 0.5);
    width: 65px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 35px;
    transition: 0.5s;

}
header > ul > li:not(:hover) > i{
    opacity: 1;
    transition: opacity 0.3s ease; 
    transition-delay: 0.2s; 

}
header > ul > li > p{
    position: absolute;
    opacity: 0;

}
header > ul > li:hover{
    background-color: rgba(83, 83, 83, 0.5);
    text-shadow: none;
    cursor: pointer;
    width: 250px;
    transition: 0.5s;
}
header > ul > li:hover > i{
    opacity: 0;
}
header > ul > li:hover > p{
    opacity: 1;
    position: static;
    transition: opacity 0.3s ease; 
    transition-delay: 0.2s; 

}
header > ul > li:active{
    background-color: rgba(82, 82, 82, 0.3);
}

