@import "header.css";
@import "slider.css";
@import "content.css";
@import "technologies.css";
@import "social.css";
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;;
}
html{
    background-image: url("../img/bg.jpg");
    background-size: cover;
        /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; */
}
body{
    /* background: rgba(49, 50, 58, 0.5); */
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}
footer{
    display: flex;
    /* background: rgba(49, 50, 58, 0.9); */
    width: 100%;
    height:50px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.hidden
{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}