section.slider{
    display: flex;
    background: rgba(41, 44, 46, 0.9);
    width: 100%;
    height: 800px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 200px;
}
section.slider > .arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
}
section.slider > .arrows > button{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 100%;
    color: white;
    width: 70px;
    height: 70px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}
section.slider > .arrows > button:hover{
    background-color: rgba(83, 83, 83, 0.5);
    cursor: pointer;
}
section.slider > .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
section.slider > .content > .slide{
    opacity: 0;
    position: absolute;
}
section.slider > .content > .slide:first-child{
    opacity: 1;
}