section.technologies{
    width: 100%;
    height: 800px;
    display: flex;
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 10px black;
    align-items: center;
    justify-content: center;


}
section.technologies > .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(49, 50, 58, 1);
    width: 400px;
    height: 100px;
    box-shadow: 5px 5px 30px black;
    border-radius: 5px;
    margin-right: 15px;
}
.box:nth-child(2){
    transition-delay: 200ms;
}
.box:nth-child(3){
    transition-delay: 400ms;
}
.box:nth-child(4){
    transition-delay: 600ms;
}